<div class="mw7 center f4-m white">
    <div class="fw9 mb3">{{ .Params.heading }}</div>
    {{ range first 4 (where .Pages ".Params.category" "==" "blog").ByDate.Reverse }}
    <h3 class="f3 mb2">{{ .Title }}</h3>
    <p>
        {{ .Description }}
    <div class="raise pointer mh1">
        <a href="{{.Permalink}}">
            <img src="/img/SVG/arrow-right.svg" class="w1" />
        </a>
    </div>
    </p>
    {{ end }}


    {{ if .moreLink  }}
    <div class="mt5">
        {{ partial "cta" (dict "moreLink" .Params.moreLink "linkUrl" .Params.linkUrl)}}
    </div>
    {{ end }}
</div>