{{ define "footer" }}
{{ partial "svg-waves" . }}
{{ partial "social-media" . }}
<footer>
	<div class="w-100 bg-light-purple relative z-max">
		<div class="nav-container nav-footer">
			<div class="logo">
				<a href="/">
					<img src="/img/cell5/cell-5-logo-black.svg" alt="Cell 5 logo" />
				</a>
			</div>
			<ul class="dn flex-m flex-wrap tl">
				{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
				{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
				{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
			</ul>
			<div class="navbar">
				<ul id="nav-lists">
					<li><a href="/people">Who we are</a></li>
					<li><a href="/works">Our Work</a></li>
					<li><a href="/process">How We Work</a></li>
					<li><a href="/values">Our Values</a></li>
					<li><a href="/tech">Tech We Know</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script src="/app.js"></script>
<script>
	var navList = document.getElementById("nav-lists");
	var drawer = document.getElementById("drawer-nav");
	function Show() {
		navList.classList.add("_Menus-show");
		drawer.classList.add("drawer-open");
	}

	function Hide() {
		navList.classList.remove("_Menus-show");
		drawer.classList.remove("drawer-open");
	}

	filterSelection("all");
	function filterSelection(c) {
		var x, i;
		x = document.getElementsByClassName("techIcon");
		if (c == "all") c = "";
		for (i = 0; i < x.length; i++) {
			w3RemoveClass(x[i], "db");
			if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "db");
		}
	}

	function w3AddClass(element, name) {
		var i, arr1, arr2;
		arr1 = element.className.split(" ");
		arr2 = name.split(" ");
		for (i = 0; i < arr2.length; i++) {
			if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
		}
	}

	function w3RemoveClass(element, name) {
		var i, arr1, arr2;
		arr1 = element.className.split(" ");
		arr2 = name.split(" ");
		for (i = 0; i < arr2.length; i++) {
			while (arr1.indexOf(arr2[i]) > -1) {
				arr1.splice(arr1.indexOf(arr2[i]), 1);
			}
		}
		element.className = arr1.join(" ");
	}

	// Add active class to the current button (highlight it)
	var btnContainer = document.getElementById("myBtnContainer");
	var btns = btnContainer.getElementsByClassName("btn-tag");
	for (var i = 0; i < btns.length; i++) {
		btns[i].addEventListener("click", function () {
			var current = document.getElementsByClassName("active");
			current[0].className = current[0].className.replace(" active", "");
			this.className += " active";
		});
	}

</script>
{{ end }}