<div class="bg-black-2 relative-m">
    <div class="mw9 h-100 center">
        <div class="flex-m flex-row-m flex-wrap-m ph4 pt4">
            <div class="w-50-m">
                <div class="white tc tl-m f1 fw9 lh-copy">
                    {{ .title }}
                </div>
            </div>
            <div class="w-50-m h-inherit">
                {{ if .imageUrl }}
                <img src="{{ .imageUrl }}" class="h5 dn db-m relative z-1 center" />
                {{ end }}
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1920 388" aria-hidden="true">
        <use xlink:href="#waves-1"></use>
    </svg>
</div>
<div class="bg-white">
    <div class="mw9 pa4 f5 tc center">{{ .text | markdownify }}</div>
</div>