<section class="home view-wrapper bg-gradient-1 white">
    <div class="mw9 center relative z-1 pt5 ph4 lh-solid">
        <div class="flex-m flex-row-m flex-wrap-m">
            <div class="flex-none w-50-m">
                {{ .heading | markdownify }}
                <div class="mt4">
                    {{ .text | markdownify }}
                </div>
            </div>
            <div class="flex-none w-50-m">
                <img src="{{ .bannerImg }}" class="dn-ns" />
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1920 395" aria-hidden="true" class="absolute bottom-0">
        <use xlink:href="#dark-bg-waves"></use>
    </svg>
</section>