<section class="bg-gradient-1">
    <div class="mw9 center ph4">
        <div class="vh-80 flex-m items-center">
            <div class="flex-none w-50-xl">
                <div class="home white lh-solid">
                    {{ .heading | markdownify }}
                    <div class="mt3 mt4-m">
                        {{ .text | markdownify }}
                    </div>
                </div>
            </div>
            <div class="flex-none w-50-xl h-inherit pa2">
                <img src="{{ .bannerImg }}" class="dn db-xl h-100 center" />
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1920 395" aria-hidden="true">
        <use xlink:href="#dark-bg-waves"></use>
    </svg>
</section>