<section class="home view-wrapper bg-gradient-1 white">
    <div class="home mw9 center relative z-1 pt5 ph4">
        <div class="row w-100">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 relative">
                <div class="banner">
                    {{ .heading | markdownify }}
                </div>
                <div class="text">
                    {{ .text | markdownify }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 relative">
                <img src="{{ .bannerImg }}" />
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1920 395" aria-hidden="true" class="absolute bottom-0">
        <use xlink:href="#dark-bg-waves"></use>
    </svg>
</section>