<div class="mw9 center relative ph5">
    {{ partial "title" (dict "heading" .heading) }}
    {{ range $index, $element := .lists }}
    {{ if modBool $index 3 }}
    <div class="flex-m flex-row-m flex-wrap-m">
        {{ end }}
        <div class="w-third-m pa2">
            <div class="pa3 br1 bg-black-3 h-100 tc">
                <span class="white underline f5-m b">{{ .group }}</span>
                <div class="flex flex-wrap flex-row justify-center tech pa2">
                    {{ range $index, $element := .tech }}
                    <img src="{{ .imageUrl }}" class="ma1" />
                    {{ end }}
                </div>
            </div>
        </div>
        {{ if modBool (add $index 1) 3 }}
    </div>
    {{ end }}
    {{ end }}
    <div class="f3-m mt3 tc w-70 center">
        {{.text | markdownify }}
    </div>
</div>