<div class="mw9 center relative ph5">
    {{ partial "title" (dict "heading" .Params.heading) }}
    <div class="f4 tc w-70 mb4 center">
        {{.Params.text | markdownify }}
    </div>
    <div class="flex flex-wrap flex-row justify-center">
        {{ range .Pages }}
        <div class="techIcon ma2">
            <img src="{{ .Params.image }}" class="h-auto w3 img-responsive" />
        </div>
        {{ end }}
    </div>
    <div class="mt3">
        {{ partial "cta" (dict "moreLink" .Params.moreLink "linkUrl" .Params.linkUrl)}}
    </div>
</div>