{{ $category := .category }}
<div class="menu">
    <ul class="menu__tabs">
        {{ range $index, $element := .Pages.GroupByParam "category" }}
        <li>
            <a class="{{ if eq $category .Key }}active{{ end }} f7" href="#category-{{ $index }}">
                <div class="w-100 tc">
                    {{ .Key }}
                </div>
            </a>
        </li>
        {{ end }}

    </ul>
    <section class="menu__wrapper">
        {{ range $index, $element := .Pages.GroupByParam "category" }}
        <div id="category-{{ $index }}" class="{{ if eq $category .Key }}item-active{{ end }} menu__item">
            <div class="flex flex-wrap flex-row justify-center">
                {{ range .Pages }}
                <div class=" raise pointer w-auto-m ma2">
                    <a href="{{.Permalink}}">
                        <img src="{{ .Params.image }}" class="h-auto w3" />
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </section>
</div>