{{ define "main" }}

<div class="bg-black-2">
    <div class="mw9 center relative z-1 pv4-m ph4">
        <div class="people flex-m flex-row-m flex-wrap-m">
            <div class="w-60-m relative">
                <div class="white f1 f-5-m fw9 lh-copy">
                    {{ .Params.title }}
                </div>
            </div>
            <div class="w-40-m relative">
                <img src="{{ .Params.imageUrl }}" class="w-80 absolute-m dn db-m" />
            </div>
        </div>
    </div>
    {{ partial "waves" (dict "svg" "waves-1" "viewbox" "0 0 1920 388") }}
</div>


{{ partial "svg-waves" . }}
<script>

</script>

{{ end }}