{{ define "main" }}

{{ partial "header" (dict "title" .Params.title "imageUrl" .Params.imageUrl "text" .Params.text) }}


<div class="bg-white">
    {{ partial "people-widget" (dict "people" .Params.people )}}
</div>
<div class="mw9 ph4 pv5 tc f6">
    {{ .Params.footer | markdownify }}
</div>

<script>
    function ShowPeopleData(element, index) {
        let jsonData = JSON.parse(element);

        document.getElementById("name-data").innerHTML = jsonData.name;
        document.getElementById("title-data").innerHTML = jsonData.title;
        document.getElementById("bio-data").innerHTML = jsonData.bio;

        var items = document.getElementById("people-gallery").getElementsByTagName("div");
        for (let i = 0; i < items.length; i++) {
            let itemData = document.getElementById("people-" + i);
            if (i != Number(index)) {
                itemData.classList.remove("selected");
            } else {
                itemData.classList.add("selected");
            }
        }
    }

</script>

{{ end }}