{{ define "main" }}

{{ partial "header" (dict "title" .Params.title "imageUrl" .Params.imageUrl "text" .Params.text) }}
<div class="mw9 ph4">
    {{ range .Pages.GroupByParam "category" }}
    <div class="pv4 bt b--grey-2 tc">
        <h3 class="f3 b mb2">{{ .Key }}</h3>
        <div class="flex flex-wrap flex-row justify-center">
            {{ range .Pages }}
            <div class="raise pointer w-auto-m ma2">
                <a href="{{.Permalink}}">
                    <img src="{{ .Params.image }}" class="h3 w3" />
                </a>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    <div class="bt b--grey-2 pv5 tc f5">
        {{ .Params.footer | markdownify }}
    </div>
</div>
{{ end }}