{{ define "main" }}

{{ partial "header" (dict "title" .Params.title "imageUrl" .Params.imageUrl "text" .Params.text) }}
<div class="mw9 center ph4 mv3">
    <div id="myBtnContainer" class="f7 flex flex-wrap justify-center justify-between-m flex-row-m">
        <button class="btn-tag ma1 active" onclick="filterSelection('all')"> All</button>
        {{ range .Params.categories }}
        <button class="btn-tag ma1" onclick="filterSelection('{{ .tag }}')"> {{ .heading }}</button>
        {{ end }}
    </div>
    <div class="flex flex-wrap flex-row justify-center">
        {{ range .Pages }}
        <div class="techIcon dn raise pointer ma2 {{ .Params.tag }}">
            <a href="{{.Permalink}}">
                <img src="{{ .Params.image }}" class="h-auto w3 img-responsive" />
            </a>
        </div>
        {{ end }}
    </div>
</div>

{{ partial "wide-text" (dict "text" .Params.footer)}}

{{ end }}