{{ define "main" }}

{{ partial "header" (dict "title" .Params.title "imageUrl" .Params.imageUrl "text" .Params.text) }}

<div class="mw9 pa4">
    <div class="flex-m flex-row-m flex-wrap-m">
        {{ range $index , $element := .Params.values }}
        <div class="w-third-m pa2">
            <div class=" values bg-white pa3 tc h-100">
                <img src="{{ .imageUrl }}" class="h3" />
                <h3 class="f5 mb3 fw9 lh-copy ">{{ .heading }}</h3>
                <div class="f7 lh-title black">{{ .text | markdownify }}</div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
<div class="mw9 ph4 pv5 tc f5">
    {{ .Params.footer | markdownify }}
</div>

{{ end }}