{{ define "main" }}

{{ partial "header" (dict "title" .Params.title "imageUrl" .Params.imageUrl "text" .Params.text) }}

<div class="mw9 pv5 ph4">
    <div class="flex-m flex-row-m flex-wrap-m">
        {{ range $index, $element := .Params.clients }}
        <div class="flex-none w-third-m pa2">
            <img src="{{ .imageUrl }}" class="br--top" />
            <div class="bg-black-2 tc pa2 br--bottom">
                <h3 class="purple f4 fw9 mb2 lh-title">
                    {{ .heading }}
                </h3>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="pt6 bt b--grey-2 tc f5">
        {{ .Params.footer | markdownify }}
    </div>
</div>

{{ partial "svg-waves" . }}

{{ end }}