{{ define "main" }}

{{ partial "header" (dict "title" .Params.title "imageUrl" .Params.imageUrl "text" .Params.text) }}

<div class="mw9 pv5 ph4">
    <div class="flex-m flex-row-m flex-wrap-m">
        {{ range .Pages }}
        <div class="flex-none w-third-m pa2">
            <div class="h-100 shadow raise" onclick="window.location.href = '{{.Permalink}}'">
                <img src="{{ .Params.image }}" class="br0 ba b--grey-2" />
                <div class="bg-white tc pv2 ph3">
                    <h3 class="f5 fw9 lh-title mb2">
                        {{ .Title }}
                    </h3>
                    <div class="f7 no-underline">
                        {{ .Description }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ partial "wide-text" (dict "text" .Params.footer)}}

{{ partial "svg-waves" . }}

{{ end }}