{{ define "main" }}

{{ partial "header" (dict "title" .Params.title "imageUrl" .Params.imageUrl "text" .Params.text) }}

<div class="mw9 pv5 ph4">
    <div class="flex-m flex-row-m flex-wrap-m">
        {{ range $index, $element := .Params.clients }}
        <div class="flex-none w-third-m pa2">
            <div class="shadow raise">
                <img src="{{ .imageUrl }}" class="br0 ba b--grey-2" />
                <div class="bg-white tc pa2">
                    <h3 class="f5 fw9 lh-title">
                        {{ .heading }}
                    </h3>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
<div class="mw9 pa4 tc f5">
    {{ .Params.footer | markdownify }}
</div>

{{ partial "svg-waves" . }}

{{ end }}