{{ define "main" }}
<div class="bg-black-2">
  <div class="mw9 center">
    <div class="breadcrumbs">
      <a href="/tech" class="history">
        Tech
        <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
          <use xlink:href="#chevron-right"></use>
        </svg></a>
      <a class="current">{{ .Title }}</a>
    </div>
    <div class="flex-m flex-row-m flex-wrap-m justify-center">
      <div class="circle-container">
        <div class="circle">
          <div class="front">
            <img src="{{ .Params.image }}" class="back-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg viewBox="0 0 1920 388" aria-hidden="true">
    <use xlink:href="#waves-1"></use>
  </svg>
</div>
<div class="cms mw6 center ph3 min-vh-30">
  <p>{{ .Description }}</p>
  {{ .Content }}
</div>
{{ end }}