{{ define "main" }}
<div class="bg-black-2">
  <div class="mw9 center">
    <ul id="breadcrumbs">
      <li><a href="/tech">Tech</a></li>
      <li>{{ .Title }}</li>
    </ul>
    <div class="flex-m flex-row-m flex-wrap-m justify-center pt3">
      <img src="{{ .Params.image }}" class="h3 dn db-m relative z-1" />
      <div class="white tc tl-m f1 fw9 lh-copy">
        {{.Title}}
      </div>
    </div>
  </div>
  <svg viewBox="0 0 1920 388" aria-hidden="true">
    <use xlink:href="#waves-1"></use>
  </svg>
</div>
<div class="cms mw6 center ph3">
  <p>{{ .Description }}</p>
  {{ .Content }}
</div>
{{ end }}