{{ define "main" }}

{{ partial "home" .Params }}

<div class="bg-black-2">
    <div class="pv5 tc">
        {{ partial "blog-table" .Params.OurWork }}
    </div>
    {{ partial "waves" (dict "svg" "waves-1" "viewbox" "0 0 1920 388") }}
</div>
<div class="bg-white">
    <div class="pv5">
        <div class="mw9 center relative ph4 tc">
            <div class="absolute absolute--center bl-m b--grey-2 h-75"></div>
            {{ partial "media-block" (dict "layoutL" "blog-media" "LParams" .Params.WhoWeAre "layoutR" "blog-media" "RParams" .Params.HowWeWork) }}
        </div>
    </div>
    {{ partial "waves" (dict "svg" "waves-2" "viewbox" "0 0 1920 395") }}
</div>
<div class="bg-black-2">
    <div class="pv5 white tc">
        {{ partial "tech-section" .Params.TechWeKnow }}
    </div>
    {{ partial "waves" (dict "svg" "waves-3" "viewbox" "0 0 1920 397") }}
</div>
<div class="tc bg-white">
    <div class="pv5">
        <div class="mw9 center relative ph4">
            {{ partial "media-block" (dict "layoutL" "checklist" "LParams" .Params.qualifications "layoutR" "carousel"  "RParams" .Params.feedbacks) }}
            <div class="mt5">
                {{ partial "cta" (dict "moreLink" .Params.moreLink "linkUrl" .Params.linkUrl)}}
            </div>
        </div>
    </div>
</div>

{{ end }}